html
{
    font-family : Arial, Helvetica, sans-serif;
    min-height  : 100%;
    height      : auto;
}

*
{
    margin : 0px;
}

body
{
    background-image : linear-gradient(to bottom left, #ffcbb5 0%, #ace0f9 100%);
    display          : block;
    min-height       : 100%;
}

div
{
    padding : 12px;
    margin  : 12px;
}

.mainBox
{
    display          : block;
    margin-left      : auto;
    margin-right     : auto;
    margin-top       : 2%;
    margin-bottom    : 2%;
    box-shadow       : 0px 2px 8px #888888;
    background-color : rgba(255,255,255,40%);
    width            : 90%;
    height           : auto;
    text-align       : justify;
    border-radius    : 10px;
}

.box 
{
    display          : block;
    background-color : #EFEFEF;
    box-shadow       : 0px 2px 8px #888888;
    padding          : 12px 20px;
}

.boxFlex
{
    display : flex;
    width   : auto;
}

h1
{
    padding    : 5px;
    margin     : 12px;
    text-align : center;
    font-size  : x-large;
    box-shadow : 0px 2px 8px #888888;
}

h2
{
    padding    : 5px;
    text-align : center;
    font-size  : x-large;
}

h3 { font-size : 120%; text-decoration: underline;  }

header 
{ 
    display          : flex;
    margin           : 12px;
    background-color : #7189b8; color : white;
    box-shadow       : 0px 2px 8px #888888;
    justify-content  : center;
}

#h1Ac     { background-color: #a7d5fa;                 }
#h1Pr     { background-color: #3c80a0; color : white }
#h1C1     { background-color: #C00000; color : white }
#h1C2     { background-color: #F79152;                 } 
#h1C3     { background-color: #FFC000;                 } 
#h1C4     { background-color: #92D050;                 }
#h1C5     { background-color: #07348F; color : white }
#h1C6     { background-color: #7C01BE; color : white }

.desac {color : #808080;}

#PP 
{
	width			: 17%;
    border-radius 	: 50%;
    object-fit    	: contain;
}

#indexPresentation { margin-left: 10%;}

/************************
 * BARRE DE PROGRESSION *
 ************************/

#langageProg
{
	--couleur 	: #ff0404;
	display 	: block;
	margin-left	: 10%;
}

.progressbar-wrapper 
{
	margin 			: 0px;
	margin-left		: 12px;
	padding 		: 0px;
	background-color: #9caab1;
	border-radius	: 15px;
	width			: 80%;
}
  
.progressbar 
{
	margin 			: 0px;
	padding 		: 0px;
	background-color: var(--couleur);
	color			: black;
	font-weight		: bold;
	padding			: 5px;
	text-align		: right;
	font-size		: 15px;
	border-radius	: 15px;
}

.pb80 { width: 80%; --couleur : rgb(51 , 204, 0); }
.pb75 { width: 75%; --couleur : rgb(63 , 191, 0); }
.pb60 { width: 60%; --couleur : rgb(102, 153, 0); }
.pb50 { width: 50%; --couleur : rgb(127, 127, 0); }
.pb40 { width: 40%; --couleur : rgb(153, 102, 0); }
.pb30 { width: 30%; --couleur : rgb(178,  76, 0); }
.pb25 { width: 25%; --couleur : rgb(191,  63, 0); }
.pb10 { width: 10%; --couleur : rgb(229,  25, 0); }